body{

    font-family: 'Noto Sans TC', 'Azeret Mono', 'monospace',sans-serif;
  
}

.title-logo{
    font-family: 'Azeret Mono',sans-serif;
}

img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    
}

a{
    display: block;
}

.w-80{
    width: 80%;
}

.w-100{
    width: 100%;
}